body
{
   border: 3px solid black;
   height: 100vh;
   padding: 5px;
}

header
{
    border: 2px solid black;
    height: 100px;
}

header div 
{
    border: 1px solid black;
    /* height: inherit; */
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

header div div 
{
    border: 1px solid black;
    width: 250px;
    border-radius: 5px;
}