body
{
   border: 3px solid black;
   height: 100vh;
   padding: 5px;
}

header
{
    border: 2px solid black;
    height: 50px;
}

header div 
{
    border: 1px solid black;
    /* height: inherit; */
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.company-logo 
{
    border: 1px solid red;
    width: 250px;
    border-radius: 5px;
}

.company-logo a 
{
    border: 1px solid green;
    width: inherit;
    display: flex;
    justify-content: center;
}

#nav-links
{
    width: 300px;
    padding: 2px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#nav-links a
{
    border: 1px solid red;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}