body
{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}

main 
{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex: auto;
}

article
{
    flex: 2;
    overflow-y: auto;
}

aside
{
    flex: 1;
    overflow-y: auto;
}

/* CSS rule for the logo */
.logo {
    font-size: 24px;
    font-weight: bold;
  }